@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  ---white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
}

body {
  background-image: url(/assets/bg-login.png);
  display: block;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: solid #fff;
  border-width: 0.2px;
  border-radius: 15px;
  padding: 35px 100px;
}

h1 {
  color: #fff;
  align-items: center;
  padding-bottom: 15px;
}

.textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 15px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 15px;
  background: transparent;
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
  color: brown;
}

.textfield > input::placeholder {
  color: #fff;
}

.login__check-box {
  align-items: left;
  color: var(---white-color);
  font-size: 0.813rem;
  padding: 5px 15px;
}

button {
  background-color: hsl(0, 0%, 100%);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  justify-content: center;
  border: solid transparent;
  font-size: 12pt;
  color: hsl(0, 0%, 0%);
  padding: 10px 130px;
}

span {
  color: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.login__forgot {
  color: var(---white-color);
  font-size: 0.813rem;
}
