@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  ---second-color: hsl(244, 12%, 12%);
  --black-color: hsl(0, 0%, 0%);
  --principal-color: #4a3fe4;
}

body {
  background-image: url(/assets/bg-login.png);
  display: block;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: block;
  width: 100%;
  max-width: 500px;
  /* background-color: transparent; */
  background-color: hsla(244, 16%, 92%, 0.6);
  backdrop-filter: blur(30px);
  /* border: solid #fff; */
  border: 2px solid hsla(244, 16%, 92%, 0.75);
  border-width: 0.2px;
  border-radius: 20px;
  padding: 35px 100px;
}

h1 {
  color: var(--principal-color);
  font-size: 28px;
  padding-bottom: 15px;
  align-items: center;
}

strong {
  color: hsl(244, 12%, 12%);
  font-family: Poppins, sans-serif;
  letter-spacing: normal;
}

p {
  color: hsl(244, 12%, 12%);
  font-size: 15px;
}

.textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 15px 0px;
  position: relative;
  margin-bottom: 20px;
}

.textfield > input {
  display: flex;
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 15px;
  background: transparent;
  backdrop-filter: blur(10px);
  color: #59585f;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
  padding-left: 43px; /* Espaço à esquerda para o ícone */
}

.textfield > label {
  color: #1b1b22;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}

.textfield > input::placeholder {
  color: #59585f;
}

.login_forgot_check-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.login__check-box {
  font-size: 13px;
  padding: 5px 15px;
  color: hsl(244, 12%, 12%);
  font-weight: 500;
}

.forgot {
  font-size: 13px;
  padding: 5px 15px;
  color: hsl(244, 12%, 12%);
}

button {
  background-color: #4a3fe4;
  color: #fff;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  justify-content: center;
  border: solid transparent;
  font-size: 12pt;
  padding: 10px 130px;
}

span {
  color: hsl(244, 12%, 12%);
}

a {
  text-decoration: none;
  color: hsl(244, 12%, 12%);
  font-weight: 500;
}

.textfield > input:hover {
  border: #4a3fe4 solid 2px;
}

button:hover {
  background-color: #3e35d1; /* tom mais escuro do roxo */
  cursor: pointer;
}

.textfield > input:focus {
  border: #4a3fe4 solid 2px;
  box-shadow: 0px 0px 10px rgba(74, 63, 228, 0.5);
}

.textfield i {
  color: hsl(244, 12%, 12%);
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  left: 15px; /* Ajuste a posição do ícone à esquerda do input */
  top: 65%; /* Ajuste ligeiro para o ícone descer um pouco */
  transform: translateY(-50%); /* Mantém a centralização do ícone */
  margin: 0px 8px;
}

.btn-continue > button {
  padding: 10px 112px;
}
